:root {
    --blue: rgb(88, 101, 124);

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(180, 180, 180);
}
.startbutton {
    background-color: var(--blue);
    color: white;
}

.view-highscores{
    outline: none;
    background-color: var(--blue);
    color: white;
}

button {
    outline: none;
    font-size: 1.3em;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;

}

.highscores h4 {
    font-size: 1.5em;
}

.btn {
    margin: 1%;
    padding: 1%;
    width: 80%;
    display: block;
}

p {
    text-align: center;
}

.outer-container {
    padding: 10px;
}


#start-btn {
    width: 30%;
}

.top-bar p {
    float: right;
}
.inner-container {
    height: 100%;
    width: 50%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-intro {
    margin-bottom: 30vh;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}

.quiz-intro h1 {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    
}

.quiz-intro p {
    padding: 5%;
}

#next-btn {
    background-color: var(--blue);
    color: white;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hide {
    display: none;
}